<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>
            Lite_DB_diagr
        </title>
    </head>
    <style>
        body{
            padding-top: 55px;
        }

        canvas{
            margin: 0px;
            padding: 0px;
        }

        #diagr-container{
            overflow: scroll;
            border-left: 1px solid #eeeeee;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border-radius: 2px;
        }

        .popover{
            min-width: 300px;
            width: auto;
        }

        .dropdown-menu > li > a {
            position: relative;
            padding-right: 70px;
            padding-left: 30px;
        }

        .dropdown-menu > li > a > span.kbd {
            position: absolute;
            right: 20px;
            top: 3px;
        }

        .dropdown-menu > li > a > span.icon {
            position: absolute;
            left: 10px;
            top: 6px;
        }
    </style>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Lite_DB_diagr</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <% if @user_id > 0 %>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diagram <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li style="min-width: 220px;">
                                        <a href="#" data-bind="click:newDiagram">
                                            <span class="glyphicon glyphicon-file icon"></span>New<span class="kbd text-muted">Ctrl+N</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-bind="click:showDiagrams">
                                            <span class="glyphicon glyphicon-folder-open icon"></span>Open<span class="kbd text-muted">Ctrl+O</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li data-bind="css:{disabled: !diagram()}">
                                        <a href="#"  data-bind="click: saveDiagram">
                                            <span class="glyphicon glyphicon-floppy-disk icon"></span>Save<span class="kbd text-muted">Ctrl+S</span>
                                        </a>
                                    </li>
                                    <li data-bind="css:{disabled: !diagram()}" >
                                        <a href="#">Save As ...<span class="kbd text-muted">Shift+Ctrl+S</span></a>
                                    </li>
                                    <li class="divider"></li>
                                    <li data-bind="css:{disabled: !diagram()}">
                                        <a href="#" data-bind="click: closeDiagram">
                                            <span class="glyphicon glyphicon-folder-close icon"></span>Close<span class="kbd text-muted">Ctrl+W</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" data-bind="css:{disabled: !diagram()}">
                                <a href="#" class="dropdown-toggle" data-bind="css:{disabled: !diagram()}" data-toggle="dropdown">Add object(s) <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ><a href="#" id="bnt-add-table" >New table </a></li>
                                    <li ><a href="#" data-bind="click:showListExistsTables" >Exist tables </a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" id="bnt-add-line">One to many</a></li>
                                    <li><a href="#">One to one</a></li>
                                </ul>
                            </li>
                        </ul>
                    <% end %>
                    <p class="navbar-text navbar-right">
                        <% if @user_id > 0 %>
                            Signed in as <a href="#" class="navbar-link" data-bind="click: logout" title="Sign out"><%=@user%></a>
                        <% else %>
                            <a href="#" class="navbar-link" class="navbar-link" data-bind="click: login" style="margin-right: 10px;">Log in</a>
                            <a href="#" class="navbar-link" class="navbar-link" data-bind="click: signup">Sign up</a>
                        <% end  %>
                    </p>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2" id="left-panel" style="padding-left: 5px;padding-right: 15px;overflow: auto" >
                    <h4>Settings</h4><hr>
                    <!-- ko with:currentObject -->
                        <!-- ko if:type == ObjectType.Table-->
                            <div class="panel panel-default">
                                <div class="panel-heading" style="cursor: pointer" data-bind="click:$root.toggleShowSettingShowTable,clickBubble: false">
                                    Table: <b data-bind="text:name"></b>
                                    <button class="btn btn-default btn-xs pull-right" data-bind="click:$root.toggleShowSettingShowTable,clickBubble: false" title="Show" style="margin-left: 10px">
                                        <span class="glyphicon glyphicon-arrow-right"
                                              data-bind="css:{'glyphicon-arrow-right':!$root.settingShowTable(),'glyphicon-arrow-down':$root.settingShowTable()}">
                                        </span>
                                    </button>
                                </div>
                                <!-- ko if:$root.settingShowTable() -->
                                    <div class="panel-body">
                                        <input class="form-control" id="table-name" placeholder="Table" data-bind="value:name">
                                        <div style="margin-top: 5px;">
                                            <button class="btn btn-primary btn-xs pull-left" data-bind="click:$root.renameTable" title="Rename table">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs pull-right" data-bind="click:$root.removeTable" title="Remove table">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                <!-- /ko -->
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="cursor: pointer" data-bind="click:$root.toggleShowSettingShowFields">
                                    Fields
                                    <span class="label label-primary" data-bind="text:fields.length"></span>
                                    <button class="btn btn-info btn-xs pull-right" title="Show fields" style="margin-left: 10px"
                                            data-bind="click:$root.toggleShowSettingShowFields,clickBubble: false,visible:fields.length">
                                        <span class="glyphicon glyphicon-arrow-right"
                                              data-bind="css:{'glyphicon-arrow-right':!$root.settingShowFields(),'glyphicon-arrow-down':$root.settingShowFields()}">
                                        </span>
                                    </button>
                                    <button class="btn btn-success btn-xs pull-right" data-bind="click:$root.showDlgAddField, clickBubble:false" title="Add field">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                                <!-- ko if: $root.settingShowFields() && fields.length -->
                                    <ul class="list-group">
                                        <!-- ko foreach:fields -->
                                            <li class="list-group-item" style="cursor: pointer;" data-bind="click:$root.settingShowFieldDescr">
                                                <span data-bind="text:name"></span>
                                                <div class="btn-group btn-xs pull-right">
                                                    <button type="button" class="btn btn-default btn-xs"
                                                            data-bind="disable:($index()==($parent.fields.length-1)),click:$root.fieldDown" title="Down">
                                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-xs"
                                                            data-bind="disable:($index()==0),click:$root.fieldUp" title="Up">
                                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                                    </button>
                                                </div>
                                            </li>
                                            <li class="list-group-item" data-bind="attr:{id:'field_'+name}" style="border: none; display: none;">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <input class="form-control input-sm" placeholder="Field name" data-bind="value:$data.name">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" data-bind="checked:$data.pk">
                                                                Primary key
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                                                    <span data-bind="text:$data.dataType.toUpperCase()" class="drop-down-data-type"></span>
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" data-bind="foreach:$root.dataTypes">
                                                                    <li><a href="#" data-bind="text:$data,click:function(data,event){$root.setDataTypeLabel(data,event,$parent)}"></a></li>
                                                                </ul>
                                                            </div>
                                                            <input type="number" class="form-control input-sm" placeholder="Length" data-bind="value:$data.dataLen">
                                                        </div>
                                                      </div>
                                                    <button type="button" class="btn btn-default btn-xs btn-primary" data-bind="click:$root.updateField" title="Update field">
                                                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs pull-right" data-bind="click:$root.removeField" title="Remove field">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </form>
                                            </li>
                                        <!-- /ko -->
                                        <li class="list-group-item" style="padding-top: 0px;padding-bottom: 1px;"></li>
                                    </ul>
                                <!-- /ko -->
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="cursor: pointer" data-bind="click:$root.toggleShowSettingShowIndex,clickBubble: false">
                                    Indexes
                                    <span class="label label-primary" data-bind="text:indexes.length"></span>
                                    <button class="btn btn-info btn-xs pull-right" title="Show" style="margin-left: 10px"
                                            data-bind="click:$root.toggleShowSettingShowIndex,clickBubble: false,visible:indexes.length">
                                        <span class="glyphicon glyphicon-arrow-right"
                                            data-bind="css:{'glyphicon-arrow-right':!$root.settingShowIndex(),'glyphicon-arrow-down':$root.settingShowIndex()}">
                                        </span>
                                    </button>
                                    <button class="btn btn-success btn-xs pull-right" data-bind="click:$root.showDlgAddField, clickBubble:false" title="Add index">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            <!-- ko if: $root.settingShowIndex() && indexes.length -->
                                <ul class="list-group">
                                    <!-- ko foreach:indexes -->
                                        <li class="list-group-item" data-bind="text:$data.name">
                                        </li>
                                    <!-- /ko -->
                                </ul>
                            <!-- /ko -->
                            </div>
                        <!-- /ko -->
                        <!-- ko if:type == ObjectType.Link-->
                            <form role="form" id="form-table">
                                <div class="form-group">
                                    <label for="link-name" >Link name</label>
                                    <input class="form-control" id="link-name" placeholder="Link" data-bind="value:name">
                                </div>
                            </form>
                        <!-- /ko -->
                    <!-- /ko -->
                    <div class="modal fade" id="form-new-field" data-bind="with:newField">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" data-bind="html: 'New field for <b>'+table.name+'</b>' "></h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="new-field-name">Name</label>
                                            <input type="email" class="form-control" data-bind="value:name" id="new-field-name" placeholder="Name">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-bind="checked:pk">
                                                Primary key
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="new-field-data-type">Data type</label>
                                            <select class="form-control" data-bind="options:$root.dataTypes,value:dataType" id="new-field-data-type">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="new-field-data-len">Data length</label>
                                            <input type="number" data-bind="value:dataLen" class="form-control" id="new-field-data-len" placeholder="0">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bind="click:$root.addField">Add</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10" style="padding-left: 5px;padding-right: 5px;" >
                    <div id="diagr-container">
                        <canvas id='diagr-canvas' tabindex="1"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/assets/js/ldb_diagr.js"></script>
    </body>
</html>