<div class="modal fade" id="modal-auth">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" id="modal-auth-btn-close">&times;</button>
                <span id="modal-auth-title"></span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="modal-auth-form">
                    <div class="form-group">
                        <label for="modal-auth-form-input-email" class="col-sm-2 control-label" id="modal-auth-form-label-email">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="modal-auth-form-input-email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-auth-form-input-pass" class="col-sm-2 control-label" id="modal-auth-form-label-pass">Pass</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="modal-auth-form-input-pass" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-auth-btn-ok">OK</button>
                <button type="button" class="btn btn-default" id="modal-auth-btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>