<div class="modal fade" id="modal-input">                                                     
    <div class="modal-dialog">                                                                                          
        <div class="modal-content">                                                                                         
            <div class="modal-header">                                                                                      
                <button type="button" class="close" aria-hidden="true" id="modal-input-btn-close">&times;</button>          
                <span id="modal-input-title"></span>                                                                              
            </div>                                                                                                          
            <div class="modal-body">                                                                                        
                <form class="form-horizontal" role="form" id="modal-input-form">                                            
                    <div class="form-group">                                                                                
                        <label for="modal-input-form-input" class="col-sm-2 control-label" id="modal-input-form-label"></label>
                        <div class="col-sm-10">                                                                                
                            <input type="email" class="form-control" id="modal-input-form-input" placeholder="">               
                        </div>                                                                                             
                    </div>                                                                                                 
                </form>                                                                                                    
            </div>                                                                                                         
            <div class="modal-footer">                                                                                     
                <button type="button" class="btn btn-success" id="modal-input-btn-ok">OK</button>                          
            </div>                                                                                                         
        </div>                                                                                                             
    </div>                                                                                                                 
</div>

<div class="modal fade" id="modal-confirm">                                   
    <div class="modal-dialog">                                                                             
        <div class="modal-content">                                                                            
            <div class="modal-header">                                                                         
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>   
            </div>                                                                                             
            <div class="modal-body">                                                                           
                <div class="alert alert-success alert-dismissable"></div>                                      
            </div>                                                                                             
            <div class="modal-footer">                                                                         
                <button type="button" class="btn btn-success" id="modal-confirm-btn-yes">Да</button>           
                <button type="button" class="btn btn-default" id="modal-confirm-btn-no">Нет</button>           
            </div>                                                                                             
        </div>                                                                                                 
    </div>                                                                                                 
</div>

<div class="modal fade" id="modal-message">
    <div class="modal-dialog">                                                                             
        <div class="modal-content">                                                                            
            <div class="modal-header">                                                                         
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>   
            </div>                                                                                             
            <div class="modal-body">                                                                           
                <div class="alert alert-warning alert-dismissable"></div>                                      
            </div>                                                                                             
            <div class="modal-footer">                                                                         
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>              
            </div>                                                                                             
        </div>                                                                                                 
    </div>                                                                                                 
</div>