<div class="modal fade" id="modal-new-diagr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" id="modal-new-diagr-btn-close">&times;</button>
                <span id="modal-new-diagr-title"></span>
            </div>
            <div class="modal-body">
                <div id="modal-new-diagr-alert">
                </div>
                <form class="form-horizontal" role="form" id="modal-auth-form">
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-title" class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal-new-diagr-form-input-title" placeholder="New diagram">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-adapter" class="col-sm-3 control-label" id="modal-auth-form-label-adapter">Adapter</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="modal-new-diagr-form-input-adapter"
                            data-bind="options: adapters,optionsText: 'name',optionsValue:'id'" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-host" class="col-sm-3 control-label" id="modal-auth-form-label-host">Host</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal-new-diagr-form-input-host" placeholder="localhost">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-port" class="col-sm-3 control-label" id="modal-auth-form-label-port">Port</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="modal-new-diagr-form-input-port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-dbname" class="col-sm-3 control-label" id="modal-auth-form-label-dbname">Database name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal-new-diagr-form-input-dbname" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-user" class="col-sm-3 control-label" id="modal-auth-form-label-user">User</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modal-new-diagr-form-input-user" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal-new-diagr-form-input-pass" class="col-sm-3 control-label" id="modal-auth-form-label-pass">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="modal-new-diagr-form-input-pass" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="pull-left">
                    <button type="button" class="btn btn-success" id="modal-new-diagr-btn-save">Save</button>
                    <button type="button" class="btn btn-primary" id="modal-new-diagr-btn-test">Test</button>
                </span>
                <button type="button" class="btn btn-default" id="modal-new-diagr-btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>