<div class="modal fade" id="modal-show-tables">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" id="modal-show-tables-btn-close">&times;</button>
                <span id="modal-show-tables-title"><strong>Tables</strong></span>
            </div>
            <div class="modal-body" style="overflow-y: auto;max-height: 400px;">
                <div id="modal-show-tables-alert">
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Table</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: existsTables -->
                        <tr data-bind="css:{success:check}, visible:show">
                            <td data-bind="text:$index()+1"></td>
                            <td>
                                <input type="checkbox" data-bind="checked: check" />
                            </td>
                            <td data-bind="text:name"></td>
                        </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span class="pull-left">
                    <button type="button" class="btn btn-success" data-bind = "click: upgradeTables">Upgrade</button>
                    <div class="btn-group" style="margin-left: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Enable/Disable <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-bind="click: function(){listExistsTablesEnableOrDisableAll(true)}">Enable All</a></li>
                            <li><a href="#" data-bind="click: function(){listExistsTablesEnableOrDisableAll(false)}">Disable All</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" style="margin-left: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Show <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-bind="click: function(){listExistsTablesShowOrHideEnable(true)}">Show only enabled</a></li>
                            <li><a href="#" data-bind="click: function(){listExistsTablesShowOrHideEnable(false)}">Show only disabled</a></li>
                            <li><a href="#" data-bind="click: listExistsTablesShowAll">Show all</a></li>
                        </ul>
                    </div>
                </span>
                <button type="button" class="btn btn-default" id="modal-show-tables-btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>