<div class="modal fade" id="modal-show-diagrs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" id="modal-show-diagrs-btn-close">&times;</button>
                <span id="modal-show-diagrs-title"><strong>Open diagram</strong></span>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: diagrams -->
                            <tr style="cursor: pointer;"
                                data-bind="click:$root.openDiagram,css:{success:($root.diagram.peek() ? ($root.diagram.peek().id == id) : false)}" >
                                <td data-bind="text:$index()+1"></td>
                                <td data-bind="text:title"></td>
                                <td data-bind="text:created_at"></td>
                                <td data-bind="text:updated_at"></td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" title="Remove diagram"
                                            data-bind="click:$root.removeDiagram, clickBubble:false, visible: ($root.diagram.peek() ? ($root.diagram.peek().id != id) : false)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-show-diagrs-btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>